###############################################################################
##                                Root Level                                 ##
###############################################################################
.env
**/package-lock.json
**/node_modules
**/build

###############################################################################
##                                   API                                     ##
###############################################################################

###############################################################################
##                                  Node Modules                             ##
###############################################################################

###############################################################################
##                                  Web App                                  ##
###############################################################################
